* {
	padding:0;
	margin:0;
	font-family: arial;
    font-variant: small-caps;
    color: #eee;
}
body {
	background-color: #222;
}

.top-banner {
	width: 100%;
	box-shadow: 0px 10px 20px black;
}

.top-banner-logo {
	position: absolute;
	display: inline-block;
	left: 15%;
	top: 65px;
	color: #777;
    font-weight: bold;
    font-size: 25px;
    font-variant: small-caps;
    font-family: arial
    

}

.top-info {
	text-align: center;
	margin: 30px 20px 20px 20px;
}

.profile-img {
	width: 150px;
	border-radius: 100px;
    position: relative;
    left: calc(50% - 75px);
    margin-top: 20px;
    box-shadow: 5px 5px 30px black;
}

.profile-quote {
	width: 90%;
   margin: 0 auto;
   text-align: center;
   padding-top: 20px;
   color: #935116;
}
.video-YT {
	width: 100%;
	text-align: center;
	margin: 30px auto;
	height: 210px;
	padding: 20px 0;
	color: #76D7C4;
}
iframe {
	box-shadow: 0px 5px 20px black;
}

.footer {
	font-size: 12px;
	font-family: none;
	font-variant: none;
	margin: 0 20px;
	text-align: center;
	margin-top: 50px;
	color: black;

}

@media only screen and (min-width: 768px) {

.top-banner-logo {
	font-size: 50px;
	top: 15%;
}

.top-info {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
iframe {
	height: 300px;
	width: 70%;
}
}
@media only screen and (min-width: 1000px) {
 
 .top-banner-logo {
	font-size: 70px;
	top: 30%;
}

.top-info {
	margin-top: 50px;
	margin-bottom: 30px;
}
.video-articles {
	color:#76D7C4; 
}
iframe {
	width: 40%;
}
}
